[Unit]
Description=Backup diario PostgreSQL tareas-app-api DEV

[Timer]
OnCalendar=*-*-* 04:15:00
Persistent=true
RandomizedDelaySec=10m

[Install]
WantedBy=timers.target
