POSTGRES_DB=donit_local
POSTGRES_USER=donit_local
POSTGRES_PASSWORD=GENERAR_CON_OPENSSL
JWT_SECRET=GENERAR_BASE64_64_BYTES
JWT_ADMIN_SECRET=GENERAR_OTRO_BASE64_64_BYTES
API_PORT=8080
LOCAL_DB_PORT=5432
CORS_ALLOWED_ORIGINS=http://localhost:4200
SWAGGER_ENABLED=true
