POSTGRES_DB=donit_dev
POSTGRES_USER=donit_dev
POSTGRES_PASSWORD=GENERAR_CON_OPENSSL
JWT_SECRET=GENERAR_BASE64_64_BYTES_DISTINTO_DE_PROD
JWT_ADMIN_SECRET=GENERAR_OTRO_BASE64_64_BYTES_DISTINTO_DE_PROD
JWT_ISSUER=https://donit-api-dev.marfern.dev
JWT_AUDIENCE=tareas-app-dev
JWT_ADMIN_ISSUER=https://donit-api-dev.marfern.dev
JWT_ADMIN_AUDIENCE=donit-admin-dev
API_PORT=8082
API_IMAGE_TAG=develop
CORS_ALLOWED_ORIGINS=https://admin-dev.marfern.dev
SWAGGER_ENABLED=false
DEV_SEED_ENABLED=false
DEV_ADMIN_USERNAME=admin-dev
DEV_ADMIN_EMAIL=admin@gmail.com
DEV_ADMIN_PASSWORD=NO_GUARDAR_PASSWORD_REAL_EN_GIT
DEV_DEMO_USERNAME=demo
DEV_DEMO_EMAIL=demo@marfern.dev
DEV_DEMO_PASSWORD=admin123
DEV_USER_PASSWORD=NO_GUARDAR_PASSWORD_REAL_EN_GIT
